<div class="card bg-dark text-light">
    <div class="icon-image card-img-top">
        <i class="flaticon-usb"></i>
    </div>
    <div class="card-body">
        <h4 class="card-title">Load file</h4>
        <p class="card-text">Load from a library.</p>
        {{!-- Magic trickery to display a pretty file input field --}}

        <a href="/lib" class="btn btn-primary">Choose File</a>


        <!--<form action="/print-file" method="POST" class="file-select" enctype="multipart/form-data">-->
        <!--<label for="file-choose" id="file-label" class="btn btn-primary">Choose File</label>-->
        <!--<input type="file" name="file" id="file-choose" class="hide-file">-->
        <!--<button id="accept-file" class="file-accept btn">-->
        <!--<i class="material-icons">check</i>-->
        <!--</button>-->
        <!---->
        <!--</form>-->
        {{!-- <a href="#" class="btn btn-primary">Choose File</a> <!-- Text capitalization done in CSS --> --}}
    </div>
</div>