<div id="card-cut" class="card bg-dark text-light">
    <div class="icon-image card-img-top">
        <i class="flaticon-drilling-machine"></i>
    </div>
    <div class="card-body">
        <h4 class="card-title">Cut</h4>
        <p class="card-text">Cut file from foam</p>
        <a href="/print?cut-type=full" id="cut-btn" class="btn btn-primary">Cut</a>
    </div>
</div>