<div class="card bg-dark text-light">
    <div class="icon-image card-img-top">
        <i class="flaticon-admin-with-cogwheels"></i>
    </div>
    <div class="card-body">
        <h4 class="card-title">Admin Settings</h4>
        <p class="card-text">Advanced administrative settings.</p>
        <a href="/admin-settings" class="btn btn-primary">Settings</a>
    </div>
</div>