<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        {{#if backEnabled}}
            <a class="nav-link" href="/">&lt;Back</a>
        {{/if}}

        <!--<a href="A" class="navbar-brand">Print Preview</a>-->
        <div class="dash-link">
            <a href="#">Dashboard</a>
        </div>
    </div>

</nav>