body {
  font-family: 'Open Sans', sans-serif;
  background: url('../images/spiration_dark.png');
}

a {
  color: #00B7FF;
}


/* AUTH */

#auth-header{
  text-align: center;
}

#login{
  align-items: center;
}



/* Index Dashboard */

.text-center{
  margin-bottom: 8px;
  margin-top: 8px;
  height: 320px;
}

.text-center img{
  height: 90%;
}
.container .card{
  min-height: 450px;
  border: 2px solid #88A0A8;
}

.container .col .card{
  text-align: center;
}
.container .col .card .btn-primary{
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.card .icon-image i::before{
  margin: 0;
  font-size: 12rem;
}
/* Magic trickery to hide the ugly default file input */
label{
  margin: 0;
}

.file-select{
  display: flex;
  justify-content: space-around;
}

#accept-file{
  display: none;
}

.container .col .card .file-chosen{
  display: inline-block;
  width: 45%;
}

.hide-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


/* Print Preview page */
nav{
  background: #eee;
}
nav a{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
nav h1{
  display: block;
  text-align: center;
  flex-grow: 1;
}

#preview{
  height: 480px;
  background: plum;
  margin-bottom: 8px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #88A0A8;
  border-radius: 4px;
  margin-top: 8px;
}
#preview .viewer{
  flex-grow: 1;
  height: 90%;
}

#preview .img{
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#preview .img img{
  height: 75%;
}

#preview .code{
  display: none;
  overflow-y: scroll;
  height: 90%;
  padding: 12px;
}

#preview .controls{
  display: flex;
  justify-content: space-around;
}

#preview i.active{
  background: #0069d9!important;
  color: white;
}

#preview i{
  background: #eee;
  width: 50%;
  text-align: center;
}
#preview i:nth-of-type(2){
  border-left: 1px solid #aaa;
}

#preview i::before{
  font-size: 2rem;
}


section.container .card{
  min-height: 355px;
}
section.container .card .icon-image i::before{
  margin: 0;
  font-size: 8rem;
}