body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}


/* AUTH */

#auth-header{
  text-align: center;
}



/* Index Dashboard */

.text-center{
  margin-bottom: 8px;
  margin-top: 8px;
}

.container .card{
  min-height: 450px;
}

.container .col .card{
  text-align: center;
}
.container .col .card .btn-primary{
  width: 100%;
}