{{> header }}
<section id="preview" class="container">
    <div class="viewer">
        <div class="img">
            <img src="{{previewPath}}" alt="">
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            {{> card-lib}}
        </div>
        <div class="col">
            {{> card-cut }}
        </div>

        <div class="col">
            <div class="card bg-dark text-light">
                <div class="icon-image card-img-top">
                    <i class="flaticon-settings"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Cut Settings</h4>
                    <p class="card-text">Adjust settings</p>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" name="cut-type" value="half" class="form-check-input">
                            Half cut
                        </label>
                        <label class="form-check-label">
                            <input type="radio" name="cut-type" checked="true" value="full" class="form-check-input">
                            Full cut
                        </label>
                    </div>
                    <!--<a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">Settings</a>-->
                </div>
            </div>        
        </div>
    </div>
</section>

<script>

    $("input[name='cut-type']").change(function () {
        let chosen = this.value;
        $('#cut-btn').attr('href', '/print?cut-type='+chosen);
    });



$('#preview i').on('click', function(){
    if($(this).hasClass('active')){
        return false;
    }
    $('#preview i').toggleClass('active');

    var data = $(this).attr('data-toggle');
    if(data === 'img'){
        $('#preview .img').show();
        $('#preview .code').hide();
    } else {
        $('#preview .img').hide();
        $('#preview .code').show();
    }
});

</script>

<script>



var inputs = document.querySelectorAll( '#file-choose' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = document.getElementById('file-label');
	var labelVal = label.innerHTML;
    var yesBtn   = document.getElementById('accept-file');

	input.addEventListener( 'change', function( e ){

        console.log(this.files);
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\\' ).pop();

		if( fileName ){
            label.innerHTML = fileName;
            label.className += " file-chosen";
            yesBtn.className += " btn-success file-chosen";
            yesBtn.style.display = "inline-block";
        }
		else
			label.innerHTML = labelVal;

        
	});
});

</script>